.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: .7rem 1rem;
    .navLeft {
        img {
            height: 7vh;
            width: auto;
        }
        a {
            display: flex;
            align-items: center;
        }
    }
    .navRight {
        .loggedIn {
            display: flex;
            flex-direction: row;
            &>* {
                margin: 0 .5rem;
            }
            button {
                color: black;
                background-color: white;
                border: black 1px solid;
                border-radius: 1vh;
                transition: 200ms;
                &:hover {
                    color: white;
                    background-color: black;
                }
            }
        }
    }
}