<!DOCTYPE html>
<html>
    <head>
        <title>TransPost</title>
        <link rel="stylesheet" href="/static/styles/base.css">
        <link rel="stylesheet" href="/static/styles/nav.css">
        <link rel="stylesheet" href="/static/styles/content.css">
        <link rel="stylesheet" href="/static/styles/footer.css">
        {% block styles %}
        <!-- Styles goes here -->
        {% endblock %}
    </head>
    <body>
        {% include 'navbar.html' %}
        <div class="content">
            {% block content %}
            <!-- Content goes here -->
            {% endblock %}
        </div>
        {% include 'footer.html' %}
    </body>
</html>