{%extends 'base.html'%}
{% block styles %}
<link rel="stylesheet" href="/static/styles/signin.css">
<link rel="stylesheet" href="/static/styles/newPost.css">
<link rel="stylesheet" href="/static/styles/home.css">
{% endblock %}
{%block content%}
{% if not user %}
{% include 'signin.html' %}
{% elif user %}
<h1>Welcome! {{user.username}}</h1>
{% endif %}
{% if user %}
{% include 'newPost.html' %}
{% endif %}

{% for post in mongoPosts %}
    <a href="/posts/{{post._id}}" class="postCard">
        <div>
            <h2>{{post.title}}</h2>
            <img src="{{post.image}}" alt="">
            <p>{{post.disc}}</p>
        </div>
    </a>
{% endfor %}
{%endblock%}