<div class="newPost">
    <form action="/newPost" method="POST">
        <fieldset>
            <h2>New Post</h2>
            <label>
                Title
                <input type="text" name="newPostTitle" placeholder="Title">
            </label>
            <label>
                IMG URL
                <input type="text" name="newPostURL" placeholder="https://via.placeholder.com/100">
            </label>
            <label>
                Discription </br>
                <textarea name="newPostDisc" cols="40%" rows="7" placeholder="discription..."></textarea>
            </label>

            <input type="submit" class="submit" value="Post!">
        </fieldset>
    </form>
</div>