.footer {
    background-color: black;
    padding: 1em;
}
.footer > * {
    margin: .3em;
}
.footer > * > * {
    color: white;
}
.footHead {
    font-size: 1.3em;
}
.footContent {
    margin-left: 1em;
}