.footer {
    background-color: black;
    padding: 1em;
}
.footer > * {
    margin: .3em 0 .3em 20vw;
}
.footer > * > * {
    color: white;
    text-decoration: none;
}
.footHead {
    font-size: 1.3em;
}
.footContent {
    padding-left: 1em;
}